// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$nc-challenge-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($nc-challenge-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($nc-challenge-theme);

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSauceOne";
  src: url("assets/fonts/OpenSauceOne-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "OpenSauceOne", "Helvetica Neue", sans-serif;
  background: #f5f3f3;
}

html,
body {
  height: 100%;
}
